openapi: 3.0.3
info:
  title: Microsoft Defender for Cloud - Security Posture REST API
  description: |
    Direct Azure Management REST API calls for Microsoft Defender for Cloud.
    Covers Secure Score, Recommendations (Assessments), Attack Paths,
    and Secure Score Controls — all without KQL or Log Analytics.
    Calls go directly to management.azure.com with AAD Bearer token.
  version: "1.0.0"
  contact:
    name: MDC CRI Team

servers:
  - url: https://management.azure.com
    description: Azure Resource Manager

security:
  - AzureAD: []

paths:

  # ──────────────────────────────────────────────────────────────
  # SECURE SCORE
  # ──────────────────────────────────────────────────────────────

  /subscriptions/{subscriptionId}/providers/Microsoft.Security/secureScores:
    get:
      operationId: ListSecureScores
      summary: List all Secure Scores for a subscription
      description: |
        Returns the secure score for each security initiative (e.g. ASC Default,
        Microsoft cloud security benchmark). Includes current score, max score,
        percentage, and unhealthy resource count.
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersionSecureScore'
      responses:
        '200':
          description: List of secure scores
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureScoreList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /subscriptions/{subscriptionId}/providers/Microsoft.Security/secureScores/{secureScoreName}:
    get:
      operationId: GetSecureScore
      summary: Get a specific Secure Score by initiative name
      description: |
        Returns the secure score for a named security initiative.
        Use 'ascScore' for the default Microsoft Defender for Cloud score.
        Returns current score, max score, percentage, and unhealthy resource count.
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - name: secureScoreName
          in: path
          required: true
          description: "Name of the secure score initiative. Use 'ascScore' for default."
          schema:
            type: string
            default: ascScore
        - $ref: '#/components/parameters/apiVersionSecureScore'
      responses:
        '200':
          description: Secure score details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureScore'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /subscriptions/{subscriptionId}/providers/Microsoft.Security/secureScoreControls:
    get:
      operationId: ListSecureScoreControls
      summary: List Secure Score Controls breakdown
      description: |
        Returns the secure score broken down by control (category).
        Each control shows its current score, max score, and number of
        unhealthy resources. Useful for identifying which control areas
        need the most attention (e.g. Manage access and permissions, Apply system updates).
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersionSecureScore'
        - name: $expand
          in: query
          required: false
          description: "Use 'definition' to include control metadata and remediation links."
          schema:
            type: string
            enum: [definition]
      responses:
        '200':
          description: Secure score controls list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureScoreControlList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ──────────────────────────────────────────────────────────────
  # RECOMMENDATIONS (ASSESSMENTS)
  # ──────────────────────────────────────────────────────────────

  /subscriptions/{subscriptionId}/providers/Microsoft.Security/assessments:
    get:
      operationId: ListRecommendations
      summary: List all MDC Recommendations for a subscription
      description: |
        Returns all security assessments (recommendations) for the subscription.
        Each assessment shows the recommendation name, severity, status
        (Healthy / Unhealthy / NotApplicable), affected resource, and remediation steps.
        Filter results by status or severity after retrieval.
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersionAssessments'
        - name: $expand
          in: query
          required: false
          description: "Use 'links' to include remediation portal links, 'metadata' for full details."
          schema:
            type: string
      responses:
        '200':
          description: List of assessments (recommendations)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/assessments/{assessmentName}:
    get:
      operationId: GetResourceRecommendation
      summary: Get a specific recommendation for a specific resource
      description: |
        Returns the assessment (recommendation) result for one specific resource.
        Use this to check whether a particular VM, storage account, or other
        resource is compliant with a given recommendation.
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - name: resourceGroupName
          in: path
          required: true
          schema:
            type: string
        - name: resourceNamespace
          in: path
          required: true
          schema:
            type: string
            example: Microsoft.Compute
        - name: resourceType
          in: path
          required: true
          schema:
            type: string
            example: virtualMachines
        - name: resourceName
          in: path
          required: true
          schema:
            type: string
        - name: assessmentName
          in: path
          required: true
          description: "The assessment GUID. Find it from ListRecommendations."
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionAssessments'
      responses:
        '200':
          description: Assessment result for the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assessment'
        '404':
          $ref: '#/components/responses/NotFound'

  /subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata:
    get:
      operationId: ListRecommendationMetadata
      summary: List all recommendation metadata (definitions)
      description: |
        Returns metadata for all available recommendations including
        display name, description, severity, remediation description,
        categories, and tactics. Useful for looking up recommendation
        details without needing a specific resource.
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersionAssessments'
      responses:
        '200':
          description: List of assessment metadata
          content:
            application/json:
              schema:
                type: object

  # ──────────────────────────────────────────────────────────────
  # ATTACK PATHS (PREVIEW)
  # ──────────────────────────────────────────────────────────────

  /subscriptions/{subscriptionId}/providers/Microsoft.Security/attackPaths:
    get:
      operationId: ListAttackPaths
      summary: List all Attack Paths for a subscription (Preview)
      description: |
        Returns all identified attack paths in the subscription.
        Each attack path shows the chain of vulnerabilities and misconfigurations
        an attacker could exploit to reach a critical asset (e.g. Internet-facing VM
        → lateral movement → storage with sensitive data).
        Note: This API is currently in Preview (api-version 2023-03-01-preview).
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersionAttackPaths'
      responses:
        '200':
          description: List of attack paths
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttackPathList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /subscriptions/{subscriptionId}/providers/Microsoft.Security/attackPaths/{attackPathId}:
    get:
      operationId: GetAttackPath
      summary: Get details of a specific Attack Path
      description: |
        Returns the full details of a single attack path including
        all nodes (resources) in the path, edges (relationships),
        entry points, and the target critical asset.
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - name: attackPathId
          in: path
          required: true
          description: "The attack path ID from ListAttackPaths"
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionAttackPaths'
      responses:
        '200':
          description: Attack path details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttackPath'
        '404':
          $ref: '#/components/responses/NotFound'

  # ──────────────────────────────────────────────────────────────
  # SECURITY ALERTS
  # ──────────────────────────────────────────────────────────────

  /subscriptions/{subscriptionId}/providers/Microsoft.Security/alerts:
    get:
      operationId: ListSecurityAlerts
      summary: List all MDC Security Alerts for a subscription
      description: |
        Returns active security alerts generated by Microsoft Defender for Cloud.
        Includes alert name, severity, compromised entity, attack tactics,
        description, and remediation steps.
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/apiVersionAlerts'
      responses:
        '200':
          description: List of security alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ──────────────────────────────────────────────────────────────
# COMPONENTS
# ──────────────────────────────────────────────────────────────

components:

  securitySchemes:
    AzureAD:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/token
          scopes:
            https://management.azure.com/.default: Azure Resource Manager access

  parameters:

    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: "Azure Subscription ID (GUID)"
      schema:
        type: string
        format: uuid
        example: "00000000-0000-0000-0000-000000000000"

    apiVersionSecureScore:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: "2020-01-01"
        enum: ["2020-01-01"]

    apiVersionAssessments:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: "2021-06-01"
        enum: ["2021-06-01"]

    apiVersionAttackPaths:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: "2023-03-01-preview"
        enum: ["2023-03-01-preview"]

    apiVersionAlerts:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: "2022-01-01"
        enum: ["2022-01-01"]

  responses:

    Unauthorized:
      description: "Unauthorized — missing or invalid AAD token"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: "Forbidden — token lacks required RBAC role (Security Reader minimum)"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: "Resource not found"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    SecureScoreList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SecureScore'

    SecureScore:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        properties:
          type: object
          properties:
            displayName:
              type: string
            score:
              type: object
              properties:
                max:
                  type: number
                current:
                  type: number
                percentage:
                  type: number
            unhealthyResourceCount:
              type: integer

    SecureScoreControlList:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              properties:
                type: object
                properties:
                  displayName:
                    type: string
                  score:
                    type: object
                    properties:
                      max:
                        type: number
                      current:
                        type: number
                      percentage:
                        type: number
                  unhealthyResourceCount:
                    type: integer

    AssessmentList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Assessment'

    Assessment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        properties:
          type: object
          properties:
            displayName:
              type: string
            status:
              type: object
              properties:
                code:
                  type: string
                  enum: [Healthy, Unhealthy, NotApplicable]
                cause:
                  type: string
                description:
                  type: string
            resourceDetails:
              type: object
              properties:
                Id:
                  type: string
                Source:
                  type: string
            metadata:
              type: object
              properties:
                severity:
                  type: string
                  enum: [High, Medium, Low]
                remediationDescription:
                  type: string
                categories:
                  type: array
                  items:
                    type: string
                tactics:
                  type: array
                  items:
                    type: string

    AttackPathList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AttackPath'

    AttackPath:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        properties:
          type: object
          properties:
            displayName:
              type: string
            description:
              type: string
            riskFactors:
              type: array
              items:
                type: string
            entryPoint:
              type: object
              properties:
                id:
                  type: string
                type:
                  type: string
            target:
              type: object
              properties:
                id:
                  type: string
                type:
                  type: string
            nodes:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  name:
                    type: string
            edges:
              type: array
              items:
                type: object
                properties:
                  sourceId:
                    type: string
                  targetId:
                    type: string
                  label:
                    type: string

    AlertList:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              properties:
                type: object
                properties:
                  alertDisplayName:
                    type: string
                  severity:
                    type: string
                  status:
                    type: string
                  compromisedEntity:
                    type: string
                  description:
                    type: string
                  remediationSteps:
                    type: array
                    items:
                      type: string
                  tactics:
                    type: array
                    items:
                      type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
